<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ChildControl"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChildControl">

        <!-- 🔹 LAUNCHER ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".child.EnterPairCodeActivity"
            android:exported="false" />

        <activity
            android:name=".parent.GeneratePairCodeActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 🔹 LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- 🔹 ROLE REDIRECT -->
        <activity
            android:name=".PostLoginRedirectActivity"
            android:exported="false" />

        <!-- 🔹 PARENT DASHBOARD -->
        <activity
            android:name=".parent.ParentDashboardActivity"
            android:exported="false" />

        <!-- 🔹 CHILD DASHBOARD -->
        <activity
            android:name=".child.ChildDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".parent.PairedChildrenActivity"
            android:exported="false" />

        <activity
            android:name=".parent.ChildAppsActivity"
            android:exported="false" />

        <activity android:name=".child.UsageStatsActivity"/>
        <activity android:name=".child.UsagePermissionActivity"/>

        <activity
            android:name=".parent.SetScreenLimitActivity"
            android:exported="false"/>

        <activity android:name=".parent.ParentUsageActivity"/>

        <service
            android:name=".child.AppBlockerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config"/>
        </service>

        <receiver
            android:name=".child.AppInstallReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <activity android:name=".parent.SetGeoFenceActivity"/>
        <activity android:name=".parent.ParentMapActivity"/>
        <activity android:name=".parent.AlertActivity"/>

        <service android:name=".child.LocationService"/>

    </application>

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>